/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

atom-text-editor {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

// Make Atom IDE's datatip overlay shadow a little less obnoxious
.datatip-overlay {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

// Put tab close icons on the left-hand side on macOS
.platform-darwin .tab-bar .tab .close-icon {
    left: 0.5em;
    right: auto;
}
